@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

/*----------------------------------------------- Global ---------*/

body {
    font-family: 'Open Sans', sans-serif;
}

.text-uppercase {
    text-align: center;
}

.jumbotron {
    background-color: transparent;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(174, 174, 174, 0.70);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
}

/*----------------------------------------------- Navbar ---------*/

.navbar-light {
    background-color: rgba(174, 174, 174, 0.70)!important;
    /* override the bootstrap navbar background color */
}

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

nav .nav-link {
    text-decoration: none;
    color: #fff;
}



/*----------------------------------------------- Home ---------*/

.home-container {
    height: 100vh;
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.band-name {
    font-weight: bold;
    font-size: 60px;
    font-family: 'Pacifico', sans-serif;
    margin-top: 30rem;
}

.home i {
    font-size: 60px;
}

/*----------------------------------------------- About ---------*/

.about-container {
    background-color: rgb(174, 174, 174);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.about img {
    margin-bottom: 10px;
}

/*----------------------------------------------- Gigs ---------*/

.gigs-container {
    background: url("../images/studio.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.gigs {
    margin-left: 20px;
    margin-right: 20px;
}

.table {
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

/*----------------------------------------------- Media ---------*/

.media-container {
    background-color: rgb(174, 174, 174);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.my-media {
    margin-left: 20px;
    margin-right: 20px;
}

.media-body {
    margin-top: 10px;
}

.my-media p {
    text-align: center;
    font-size: 20px;
    color: white;
}

/*----------------------------------------------- Contact ---------*/

.contact-container {
    background: url("../images/paint-splash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

/*----------------------------------------------- Footer ---------*/

.footer-container {}
