    @import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Pacifico');

    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .text-uppercase {
        text-align: center;
    }
    
    /* Block Divider */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: inherit;
}

    /* Conatainers */

    .home-container {
        height: 100vh;
        background: url("../images/bg.png") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .home-container h1 {
        font-family: 'Pacifico', sans-serif;
        font-size: 50px;
        text-align: center;
        color: #000000;
        margin-top: 30rem;
    }

    .content-container {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .container-color {
        background-color: #f05f40;
        color: white;
    }

    .about .section-title {
        margin-bottom: 25px;
    }
    
    .container-wrapper {
        background-color: rgba(174, 174, 174, 1);
    }

    /*----------------------------- navigation --*/

    .bg-light {
        background-color: rgba(174, 174, 174, 0.70)!important;
        /* override the bootstrap navbar background color */
    }

    .navbar-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 0;
        padding-right: 0;
        z-index: 1;
    }

    nav img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    nav .nav-link {
        text-decoration: none;
        color: #fff;
    }

    /*----------------------------- home --*/

    .chevron {
        font-size: 50px;
    }

    .jumbotron {
        background-color: rgba(0, 0, 0, 0);
    }



    /*----------------------------- about --*/

    /*----------------------------- music --*/

    /*----------------------------- videos --*/

    /*----------------------------- contact --*/

    /*----------------------------- footer --*/
    